.banner_container {

    position: relative;
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}

.ul {
    text-decoration: none;
    list-style-type: none;
}

.fixedbanner {
    width: "70%" !important;
    align-items: "center" !important;
    margin-left: "15%" !important;
    box-shadow: " rgba(0, 0, 0, 0.24) 0px 3px 8px" !important;
    margin-top: "5%" !important;
}

.imagestyle {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    left: 215px;
    width: 70%;

}

.container {
    max-width: 1140px;

}

.top_summary{
    margin-left: 10%;
     margin-top: 3%;
}

.banner_section {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 20px 0px;
}

.bannerhead {
    font-weight: 700;
    font-size: 60px;
            text-align: center;
            color: black;
            margin-left: 5%;
}

.image_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 9%;
}
.top_image_con{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5%;
}
.bannerimg {
    width: 130%;
    margin-top: -50px;
    margin-left: '-5%';
}
.header_text{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    margin-top: 8%;
    color: black;
    text-align: center;
}
.bannerimg_top {
    width: 120%;
    /* margin-top: -10px; */
    margin-left: '-15%';
    height: '50%';
    background-color: transparent;
}

.bannerhead_span {
    color: #80b53b;
    display: block;
    font-weight: 300;
}

.bannerBullet {
    color: #000;
    width: 100%;
    display: inline-block;
}

.bannerBullet li p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    background-color: white;
    /* background-image: url("https://toneopeats.com/public/img/leaf.webp"); */
    background-position: left 4px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 39px;
}

@media (min-width: 1200px) .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1140px;
}

@media (max-width: 767px) {
    .bannerhead {
        font-size: 0px;
        margin-left: 0;
    }

    .bannerimg {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .bannerBullet li p {
        font-size: 14px;
        margin-bottom: 15px;
        padding-left: 34px;
        background-size: 20px;
    }
}

/* For screens between 768px and 992px (e.g. tablets) */
@media (min-width: 268px) and (max-width: 768px) {
    .bannerhead {
        font-weight: 700 !important;
        font-size: 30px !important;
        margin-bottom: 45px !important;
        color: black !important;
        margin-left: 5%;
    }
        /* .bannerimg {
            width: 100%;
            margin-top: -50px;
            margin-left: '-5%';
        } */
                

        .header_text {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            margin-top: 17%;
            color: black;
            text-align: center;
        }
                .top_summary {
                    margin-left: 0%;
                    margin-top: 3%;
                }
    .image_flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 9%;
    }
        .bannerimg_top {
            width: 70%;
            /* margin-top: -10px; */
            /* margin-left: '-5%'; */
            right: '20%';
            height: '50%';
            background-color: transparent;
            margin-left: 15%;
        }
 .top_image_con {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-left: 5%;
        }

    .bannerimg {
        width: 80%;
        margin-top: -20px;
        margin-left: 10%;
    }

    .bannerBullet li p {
        font-size: 16px;
        margin-bottom: 20px;
        padding-left: 36px;
        background-size: 23px;
        margin-left: -12%;
    }
}