.container {
    display: flex;
    justify-content: space-around;
}

.package {
    flex: 1;
  /* border-bottom: 3px solid green !important; */
  background-color: white;
  border: none;   
  
}

.package h1 {
    color: #000;
    text-align: center;
}